<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Temper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>My App is work!</h1>


    @if (plan$ | async; as plan) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ plan.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Tag {{ plan.current_day }} von {{ plan.duration_days }}</p>
        <ion-button expand="block" routerLink="/workout">
          Training starten
        </ion-button>
      </ion-card-content>
    </ion-card>
    } @else {
    <ion-card>
      <ion-card-header>
        <ion-card-title>No active plan!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Create a plan here:</p>
        <ion-button expand="block" routerLink="/plans">
          <ion-icon slot="start" name="add"></ion-icon>
          Plan erstellen
        </ion-button>
      </ion-card-content>
    </ion-card>
    }

  </div>
</ion-content>
